@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Quicksand:wght@300..700&display=swap');

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(BG/wall.jpg);
  background-size: cover;
}

.none {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

/* FLOATING PART */
.contect-me {
  color: white;
  float: left;
  position: fixed;
  left: 20px;
  bottom: 330px;
  width: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s ease;
}

.whatsapp-link {
  float: left;
  position: fixed;
  left: 20px;
  bottom: 250px;
  width: 60px;
  transition: all 0.2s ease;
  border-radius: 100px;
  animation: warnaBorder 5s infinite alternate;
}

.telegram-link {
  float: left;
  position: fixed;
  left: 20px;
  bottom: 170px;
  width: 60px;
  transition: all 0.2s ease;
  border-radius: 100px;
  animation: warnaBorder 5s infinite alternate;
}

@keyframes warnaBorder {
  0% {
    box-shadow: 0 0 5px rgb(255, 0, 0),
      0 0 10px rgb(255, 0, 0),
      0 0 15px rgb(255, 0, 0);
  }

  20% {
    box-shadow: 0 0 5px rgb(255, 255, 0),
      0 0 10px rgb(255, 255, 0),
      0 0 15px rgb(255, 255, 0);
  }

  40% {
    box-shadow: 0 0 5px rgb(0, 255, 0),
      0 0 10px rgb(0, 255, 0),
      0 0 15px rgb(0, 255, 0);
  }

  60% {
    box-shadow: 0 0 5px rgb(0, 255, 255),
      0 0 10px rgb(0, 255, 255),
      0 0 15px rgb(0, 255, 255);
  }

  80% {
    box-shadow: 0 0 5px rgb(0, 0, 255),
      0 0 10px rgb(0, 0, 255),
      0 0 15px rgb(0, 0, 255);
  }

  100% {
    box-shadow: 0 0 5px rgb(255, 0, 255),
      0 0 10px rgb(255, 0, 255),
      0 0 15px rgb(255, 0, 255);
  }
}

.whatsapp-link:hover {
  margin-left: 10px;

}

.telegram-link:hover {
  margin-left: 10px;
}


/* NAVBAR */
.wrapping-navbar {
  width: 100%;
  background-color: rgb(42, 42, 42);
  color: white;
  font-weight: bold;
  padding: 20px 0;
  font-size: 25px;
}

.content-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 250px;
  height: 30px;
  border: none;
  outline: none;
  margin: 0;
  padding-inline: 0;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}

.nav-button {
  height: 32px;
  font-size: 20px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ph-magnifying-glass {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* TEXT RUNNING */
.wrapping-running {
  width: 100%;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.ph-megaphone {
  font-size: 25px;
}

.note {
  padding-right: 50px;
}


/* --------------------------------------- */

.width-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.width-content {
  width: 75%;
}

/* IMG SLIDESHOW */
.gif-img {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 20px;
  cursor: pointer;
}

.in-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.img-promotion {
  max-inline-size: 45%;
  min-width: 500px;
  height: auto;
  border-radius: 8px;
  animation: imgglow 5s infinite alternate;
  overflow: hidden;
}

@keyframes imgglow {
  0% {
    box-shadow: 0 0 5px rgb(255, 0, 0),
      0 0 5px rgb(255, 0, 0),
      0 0 5px rgb(255, 0, 0);
  }

  20% {
    box-shadow: 0 0 5px rgb(255, 255, 0),
      0 0 5px rgb(255, 255, 0),
      0 0 5px rgb(255, 255, 0);
  }

  40% {
    box-shadow: 0 0 5px rgb(0, 255, 0),
      0 0 5px rgb(0, 255, 0),
      0 0 5px rgb(0, 255, 0);
  }

  60% {
    box-shadow: 0 0 5px rgb(0, 255, 255),
      0 0 5px rgb(0, 255, 255),
      0 0 5px rgb(0, 255, 255);
  }

  80% {
    box-shadow: 0 0 5px rgb(0, 0, 255),
      0 0 5px rgb(0, 0, 255),
      0 0 5px rgb(0, 0, 255);
  }

  100% {
    box-shadow: 0 0 5px rgb(255, 0, 255),
      0 0 5px rgb(255, 0, 255),
      0 0 5px rgb(255, 0, 255);
  }
}


/* ---------------- */
.apk-download {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.tab-game {
  color: white;
  border-radius: 8px;
  text-align: center;
}

.a-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 15px;
}

.a-i {
  width: 100%;
  background-color: purple;
  border: solid 2px rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: white;
  border-radius: 15px;
  transition: all 0.2s ease;
  font-size: 16px;
}

.a-i:hover {
  color: rgb(49, 255, 63);
  font-size: 18px;
  background-color: #ee00ffc7;
}

a {
  text-decoration: none;
  color: white;

}

i {
  font-size: 22px;
  padding-right: 8px;

}

.img-game {
  width: 200px;
  border-radius: 8px;
  background: white;
  border: 3px solid #00ff15;
  animation: glow 1.8s infinite ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 0, 0);
    border-color: #ff0101;
  }

  50% {
    box-shadow: 0 0 20px 20px rgba(52, 152, 219, 0);
    border-color: #ee00ff;
  }

  100% {
    box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
    border-color: #d0db34;
  }
}

